.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: grid;
	place-items: center;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-container {
	border-radius: 6px;
	overflow: hidden;
	background: #ffffff;
	width: 50%;
}

.modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #ececec;
	padding: 10px;
}

.modal-body {
	padding: 10px;
}

.modal-footer {
	padding: 10px;
	background: #ececec;
}
