.note {
	background-color: #fff;
	border-radius: 10px;
	display: block;
	overflow: hidden;
}

.header {
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #444;

	a,
	button {
		font-weight: 500;
		color: white;
	}
}

.actions {
	display: flex;
	align-items: center;
	gap: 4px;
}

.details {
	padding: 10px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
