@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'react-quill/dist/quill.snow.css';

html {
	scroll-behavior: smooth;
}

#organizer {
	display: grid;
	min-height: 100dvh;
	grid-template-rows: auto 1fr auto;
}

.ql-toolbar.ql-snow {
	border-radius: 6px 6px 0 0;
}

.ql-container.ql-snow {
	border-radius: 0 0 6px 6px;
	.ql-editor {
		min-height: 300px;
	}
}
