@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'react-quill/dist/quill.snow.css';

html {
	scroll-behavior: smooth;
}

.inp-wpn::-webkit-outer-spin-button,
.inp-wpn::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.card-design {
	@apply bg-card-light dark:bg-card-dark;
}

.inp-wpn[type='number'] {
	-moz-appearance: textfield;
}

#organizer {
	display: grid;
	min-height: 100dvh;
	// min-width: 100dvw;
	overflow: hidden;
	grid-template-rows: auto 1fr auto;
}

.ql-toolbar.ql-snow {
	border-radius: 6px 6px 0 0;
}

.ql-container.ql-snow {
	border-radius: 0 0 6px 6px;
	.ql-editor {
		min-height: 300px;
	}
}

.basic-modal {
	@apply max-w-[90%] sm:max-w-[450px] rounded-lg overflow-hidden;
}

.inactive {
	@apply bg-gray-200 text-gray-400;
}

.income {
	@apply bg-green-200;
}

.expense {
	@apply bg-red-200;
}
